
h2 {
  margin: 0;
}



/* -----
HEADER
-------- */
header {
  color: white;
}
.bg_blu {
  background-color: #2C3E50;
}
.bg_green {
  background-color: #2BBC9C;
}
.height_100 {
  height: 100px;
}
.height_640 {
  height: 460px;
}
.padding_90_0_90 {
  padding: 90px 0;
}
@media screen and (max-width: 991px) {
  .height_70 {
    height: 70px;
  }
}

/* ---------------------
MAIN PORTFOLIO SECTION
------------------------ */
.portfolio {
  margin-top: 90px;
  margin-bottom: 60px;
}
.height_250 {
  height: 250px;
}
.portfolio_items {
  margin-bottom: 30px;
}

/* ---------------------
MAIN ABOUT SECTION
------------------------ */



/* ---------------------
FOOTER
------------------------ */
footer {
  color: white;
}
.padding_75 {
  padding: 75px 0;
}
.footer_bot {
  background-color: #1A252F;
  padding: 25px;
}
