h1 {
  font-size: 60px;
  line-height: 53px;
  margin: 50px 0 0 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin: 0;
  color: #2C3E50;
}
body {
  font-family: 'Lato', sans-serif;
}



/* -----
HEADER
-------- */
header {
  color: white;
}
.header_top {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 10;
}
.bg_blu {
  background-color: #2C3E50;
}
.height_100 {
  height: 100px;
  line-height: 100px;
}
.logo {
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
}
.menu_item {
font-family: 'Montserrat', sans-serif;
font-size: 15px;
color: white;
padding-left: 40px;
}
a:hover.menu_item {
  text-decoration: none;
  color: #2BBC9C;
}
a.btn_menu,
a:visited.btn_menu,
a:active.btn_menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #2BBC9C;
  color: white;
  padding: 11px;
  border-radius: 7px;
}
a:hover.btn_menu {
  background: #148f77;
  color: white;
}
.hamb {
vertical-align: baseline;
font-size: 11px;
}

@media screen and (max-width: 991px) {
  .height_70 {
    height: 70px;
    line-height: 70px;
  }
  .logo {
    font-size: 19px;
  }
}
/* ---------
JUMBO
--------- */
.bg_green {
  background-color: #2BBC9C;
}
.padding_90_0_90 {
  padding: 90px 0;
}
.jumbo_text {
  padding: 180px 0 100px 0;
  width: 70%;
  margin: 0 auto;
}
.jumbo_text p {
  font-size: 23px;
}
.avatar {
  height: 245px;
}
.star {
  font-size: 30px;
  margin: 30px 10px;
}
.star_color {
  color: #2C3E50;
}
.line {
  display: inline-block;
  width: 100px;
  height: 3px;
  border-radius: 1px;
  background-color: white;
  margin-bottom: 10px;
}
.line_color {
  background-color: #2C3E50;
}

/* ---------------------
MAIN PORTFOLIO SECTION
------------------------ */
.portfolio {
  margin-top: 90px;
  margin-bottom: 60px;
}
.portfolio_items {
  margin-bottom: 30px;
  height: 250px;
}
.portfolio_items img {
  height: 250px;
  border-radius: 10px;
}
@media screen and (max-width: 1199px) {
  .portfolio_items img {
    height: 210px;
  }
  .portfolio_items {
    height: 210px;
  }
}
@media screen and (max-width: 991px) {
  .portfolio_items img {
    height: 240px;
  }
  .portfolio_items {
    height: 240px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio_items img {
    height: 270px;
  }
  .portfolio_items {
    height: 270px;
  }
}


/* ---------------------
MAIN ABOUT SECTION
------------------------ */



/* ---------------------
FOOTER
------------------------ */
footer {
  color: white;
}
.padding_75 {
  padding: 75px 0;
}
.footer_bot {
  background-color: #1A252F;
  padding: 25px;
}
